<div *ngIf="logger.logger;">


    <h2>Messages</h2>
    <button class="clear"
            (click)="logger.clear()">clear
    </button>
    <div *ngFor='let message of logger.logger'> {{message | json }}</div>
	<div *ngFor='let message of logger.logger'> {{ message }}</div>

</div>

<button (click)="this.logger.add([api.runs])">Show session</button>
<button (click)="this.logger.add([session.USER_OBJ, session.TOKEN , this.runs.celery_tasks])">Show session</button>

