<div class="row" >
	<div class="col-lg-4" style="padding-top: 30px; height: 100%; background-color: #878c8e; box-shadow: #5d666b; min-height: 1000px" *ngIf="api.runs">
		<div class="row" style="height: 70px">
			<div class="col-lg-6" >
				<div class="btn btn-block btn-outline-light"  (click)="cronorinterval=0;" [ngClass]="{active:cronorinterval===0}" #cronbutton>
					Cronologic
				</div>
			</div>
			<div class="col-lg-6" >
				<div class="btn btn-block btn-outline-light"  (click)="cronorinterval=1" [ngClass]="{active:cronorinterval===1}"  #intervalbutton>
					Intervals
				</div>
			</div>
		</div>

		<app-crontasks [tasks]="api.runs.celery_tasks" *ngIf="cronorinterval==0"></app-crontasks>
		<app-intervaltasks [tasks]="api.runs.celery_tasks" *ngIf="cronorinterval==1"></app-intervaltasks>
	</div>




	<div class="col-lg-8" style="padding: 30px; background-color: #f4f3f5" *ngIf="api.runs">
		<label class="btn btn-outline-primary float-right" (click)="api.updateRun(api.runs, session.TOKEN)" >Save Run</label>
		<!--<button class="btn btn-light" (click)="route.navigate(['/celery'])">Route</button>-->
		<label class="btn btn-outline-primary float-right" (click)="addSequence(0,api.runs)">Add Sequence</label>
		<div style="margin-top: 80px">


			<div *ngFor="let sequence_item of  api.runs.sequence_set; let sequence_ind = index">
			  <div role="alert" style="padding: 0px" [ngClass]="sequenceClassSetter(sequence_item,'alert')">

				<table style="height: 20px;">
				    <tbody>

				    <tr>
					  <td class="align-middle">
						{{'sequence_' + (sequence_ind+1).toString()}}
					  </td>

					  <td>
						<span *ngIf="sequence_item.last_run===0" style="color: rgba(0,147,226,0.51);font-size: 35px;">N/A</span>
						<span *ngIf="sequence_item.last_run===1"
							style="color: rgba(0,226,19,0.51);font-size: 35px;">OK</span>
						<span *ngIf="sequence_item.last_run===2"
							style="color: rgba(226,0,13,0.51);font-size: 35px;">KO</span>
					  </td>

					  <td>
						<table class="container-fluid">
						    <tbody>
						    <tr>
							  <td>
								<span class="badge badge-pill badge-light">Fails:{{sequence_item.fails_sum}}</span>
							  </td>
						    </tr>
						    <tr>
							  <td>
								<span
								    class="badge badge-pill badge-light">Success:{{sequence_item.success_sum}}</span>
							  </td>
						    </tr>
						    </tbody>
						</table>
					  </td>

					  <td style="padding-left: 100px">
				  <span [ngClass]="sequenceClassSetter(sequence_item,'btn')" data-toggle="modal"
					  [attr.data-target]="'#'+sequence_ind.toString()"
					  data-whatever="@mdo">Edit</span>
						<span class="btn btn-light" (click)="addSequence(num=sequence_ind+1, api.runs)">+</span>
						<span class="btn btn-light" (click)="removeSequence(num=sequence_ind)">-</span>
					  </td>

				    </tr>

				    </tbody>
				</table>
			  </div>

			  <app-modal [sequence_item]="sequence_item" [sequence]="api.runs" [sequence_ind]="sequence_ind"></app-modal>

		    </div>

		</div>


{{ api.runs.create_date | date:'HH:mm:ss dd/MM/yyyy'}}
	</div>

</div>
