<div class="modal fade" [id]="sequence_ind" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel" [innerHTML]="sequence_item_copy.name"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="form-group" *ngFor="let action of sequence_item_copy.action_set; let action_ind = index;">
                    <label for="message-{{action_ind.toString()+1000+sequence_ind.toString()}}" class="col-form-label">Action:</label>
                    <input type="text" class="form-control" id="message-{{action_ind.toString()+1000+sequence_ind.toString()}}" name="lastname"
                              [(ngModel)]="action.json" #fullText>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="resetCopySequence(sequence_item)"
                         data-dismiss="modal">Cancel
                </button>
                <button type="button" class="btn btn-primary" (click)="saveCopySequence(sequence_item_copy, sequence_ind)"
				 data-dismiss="modal">Save
                </button>
            </div>
        </div>
    </div>
</div>
