<div class="input-group mb-3" *ngIf="!!tasks.interval;else nointerval">
	<div class="input-group-prepend">
		<label class="btn btn-outline-primary" [ngClass]="active_button_classes"   (click)="changeTaskStatus()"  #meme>
			Enabled
		</label>
	</div>
	<select class="custom-select" id="inputGroupSelect03" [(ngModel)]="tasks.interval.period" #intervalperiod>
		<option >Intervals...</option>
		<option [ngValue]="'seconds'"  >Seconds</option>
		<option [ngValue]="'hours'" >Hours</option>
		<!--<option [selected]="tasks.interval.period==='days'" value="days">Days</option>-->
	</select>

</div>

<label class="sr-only" for="inlineFormInputGroup1">Repeats every:</label>
<div class="input-group mb-2" style="width: 100%; margin-top: 10px">
	<div class="input-group-prepend">
		<div class="input-group-text">Repeats every:</div>
	</div>
	<input type="text" class="form-control" [(ngModel)]="tasks.interval.every" id="inlineFormInputGroup1" placeholder="ex: 10, 24, 50" #intervalevery>
</div>

<label class="sr-only" for="inlineFormInputGroup2">Task</label>
<div class="input-group mb-2" style="width: 100%; margin-top: 10px">
	<div class="input-group-prepend">
		<div class="input-group-text">Task:</div>
	</div>
	<input type="text" class="form-control" [(ngModel)]="tasks.task" id="inlineFormInputGroup2" placeholder="ex: this.is.not.a.task" #intervalevery>
</div>

<div class="input-group mb-2" style="width: 100%; margin-top: 10px">
	<div class="input-group-prepend">
		<div class="input-group-text">kwargs:</div>
	</div>
	<input type="text" class="form-control" [(ngModel)]="tasks.kwargs" id="inlineFormInputGroup3" placeholder="ex: {'runs_pk' : 22}" #intervalevery>
</div>


<div class="btn btn-outline-light float-right" (click)="api.updateTask(tasks,session.TOKEN);debug.add(tasks)">Save</div>


<ng-template #nointerval><p  >No interval tasks!</p></ng-template>

