<div class="input-group mb-3" *ngIf="!!tasks.crontab;else nocron">

	<div class="input-group row" style="width: 100%; margin-bottom: 10px">
		<div class="input-group-prepend">
			<span class="input-group-text" id="">Hours & Minutes</span>
		</div>
		<input type="text" class="form-control" [(ngModel)]="tasks.crontab.hour" placeholder="Hour">
		<input type="text" class="form-control" [(ngModel)]="tasks.crontab.minute" placeholder="Minute">
	</div>

	<div class="row" style="width: 100%; margin-top: 10px">
		<label class="sr-only" for="inlineFormInputGroup1">Day of Week</label>
		<div class="input-group mb-2" >
			<div class="input-group-prepend">
				<div class="input-group-text">Day of Week</div>
			</div>
			<input type="text" class="form-control" [(ngModel)]="tasks.crontab.day_of_week" id="inlineFormInputGroup1" placeholder="Day of Week">
		</div>
	</div>

	<div class="row" style="width: 100%; margin-top: 10px">
		<label class="sr-only" for="inlineFormInputGroup2">Day of Month</label>
		<div class="input-group mb-2">
			<div class="input-group-prepend">
				<div class="input-group-text">Day of Month</div>
			</div>
			<input type="text" class="form-control" [(ngModel)]="tasks.crontab.day_of_month" id="inlineFormInputGroup2" placeholder="Day of Month">
		</div>
	</div>
	<div class="row" style="width: 100%; margin-top: 10px">
		<label class="sr-only" for="inlineFormInputGroup3">Month of Year</label>
		<div class="input-group mb-2">
			<div class="input-group-prepend">
				<div class="input-group-text">Month of Year</div>
			</div>
			<input type="text" class="form-control" [(ngModel)]="tasks.crontab.month_of_year" id="inlineFormInputGroup3" placeholder="Month of Year">
		</div>
	</div>
</div>

<div class="btn btn-outline-light float-right" (click)="debug.add('a');debug.add(tasks);debug.add(tasks.crontab)">Save</div>
<ng-template #elseBlock #nocron><p  class="text text-center text-capitalize">No cron tasks!</p></ng-template>
