<body style="margin: -8px !important;">

<app-nav-bar></app-nav-bar>


	<!--<router-outlet></router-outlet>-->
<div *ngIf="session.sessionIsActive()">
<div class="container-fluid">

			<router-outlet></router-outlet>

</div>
</div>



<app-login *ngIf="!session.sessionIsActive()"></app-login>


</body>
