<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	<a class="navbar-brand" href="#"><h2>PIPZ.t</h2></a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
		  aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse float-right" id="navbarNavAltMarkup">
		<div class="navbar-nav">
			<a class="nav-item nav-link" routerLink="/runs/create" (click)="api.createRun(session.USER_OBJ['id'],session.TOKEN);">Create</a>
			<a class="nav-item nav-link" routerLink="/user/{{session.USER_OBJ.id}}/runs/list">List</a>
			<a class="nav-item nav-link" href="#">Results</a>
		</div>
	</div>
</nav>
