<div *ngIf="RunsListObject">

    <div *ngFor="let run of RunsListObject.results" #runitera>
	    <a href="/runs/{{run.pk}}/">{{run.pk}}</a>
    </div>

	<nav aria-label="Page navigation example">
		<ul class="pagination">
			<li class="page-item"><a class="page-link"  (click)="changePage(RunsListObject.previous)">Previous</a></li>
			<li class="page-item"><a class="page-link"  (click)="changePage(RunsListObject.next)">Next</a></li>
		</ul>
	</nav>
</div>


